body {
  margin: auto;
}
.gridlayout {
  display: grid;
  grid-template-columns: 200px 4fr;
  grid-gap: 1rem;
  margin: auto;
  margin-top: 0;
  padding: 5%;
  padding-top: 0;
  border: solid;
  height: 100%;
}
#clues {
  grid-column: 1;
  border: solid;
  margin: auto;
  margin-left: 60%;
  /* height: 900px; */
  width: 100%;
  word-wrap: break-word;
}

.clueslist li {
  font-size: 20px;
  max-height: 70px;
  padding: 3%;
  margin: 0;
  text-align: left;
  text-transform: none;
}
.heading {
  grid-row: 1;
  grid-column: span 2;
  height: 100%;
  border: solid;
}

.buttonSection {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-gap: 1rem;
  width: 500px;
  height: 100%;
  margin: auto;
  margin-top: 0;
  align-items: flex-start;
  justify-content: center;
}
#clearAll {
  grid-row: 1;
  height: 50px;
  width: 200px;
  font-size: 1rem;
}
#revealAll {
  grid-row: 1;
  height: 50px;
  width: 200px;
  font-size: 1rem;
}

/* #congrats {
  grid-row: 1;
  height: 100px;
  width: 200px;
  padding-top: 7%;
  border: solid;
  text-align: center;
  font-size: 1rem;
} */

.crosswordGrid {
  grid-column: 2;
  width: 405px;
  height: 417px;
  display: grid;
  grid-template-rows: 100px;
  grid-auto-columns: 100px;
  border: solid;
  grid-gap: 0;
  margin: auto;
  margin-top: 0;
}

* {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

#across1L1Input,
#across2L1Input,
#across3L1Input,
#across4L1Input {
  grid-column: 1;
}

#across1L2Input {
  grid-column: 2;
}

#across1L3Input {
  grid-column: 3;
}

#across1L4Input {
  grid-column: 4;
}
