body {
  margin: 3%;
}
.buttonSection {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  height: 50%;
  margin-top: 4%;
}
#clearAll {
  grid-row: 1;
  height: 100px;
  width: 300px;
  font-size: 1rem;
  background-color: blue;
}
#revealAll {
  grid-row: 2;
  height: 100px;
  width: 300px;
  font-size: 1rem;
}

#congrats {
  grid-row: 1;
  height: 100px;
  width: 300px;
  padding-top: 7%;
  border: solid;
  text-align: center;
  font-size: 1rem;
}

.crosswordGrid {
  width: 405px;
  height: 417px;
  display: grid;
  grid-template-rows: 100px;
  grid-auto-columns: 100px;
  border: solid;
  grid-gap: 0;
  margin: auto;
}

* {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

#across1L1Input,
#across2L1Input,
#across3L1Input,
#across4L1Input {
  grid-column: 1;
}

#across1L2Input {
  grid-column: 2;
}

#across1L3Input {
  grid-column: 3;
}

#across1L4Input {
  grid-column: 4;
}
