body {
  margin: auto;
}
input {
  caret-color: transparent;
  color: black;
}
input:focus {
  background-color: rgb(239, 239, 239);
}
.gridlayout {
  display: grid;
  grid-template-columns: 400px 5fr;
  grid-gap: 1rem;
  margin: auto;
  margin-top: 0;
  padding: 5%;
  padding-top: 0;
  border: solid;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
#clues {
  grid-column: 1;
  border: solid;
  margin: auto;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 5px black;
  word-wrap: break-word;
}

#clues h1 {
  height: auto;
  font-size: 1.5rem;
}
.clueslist li {
  font-size: 20px;
  max-height: 70px;
  padding: 3%;
  margin: 0;
  margin-top: 0;
  text-align: left;
  text-transform: none;
}
.status {
  color: black;
  font-size: 0.5rem;
  text-align: left;
  text-transform: none;
}
.heading {
  grid-row: 1;
  grid-column: span 2;
  height: 100%;
  border: solid;
  text-align: center;
  box-shadow: 5px 5px 5px black;
}

.buttonSection {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-gap: 1rem;
  width: 500px;
  height: 100%;
  margin: auto;
  margin-top: 0;
  align-items: flex-start;
  justify-content: center;
}
#clearAll {
  grid-row: 1;
  height: 50px;
  width: 200px;
  font-size: 1rem;
}
#revealAll {
  grid-row: 1;
  height: 50px;
  width: 200px;
  font-size: 1rem;
}

/* #congrats {
  grid-row: 1;
  height: 100px;
  width: 200px;
  padding-top: 7%;
  border: solid;
  text-align: center;
  font-size: 1rem;
} */

.crosswordGrid {
  grid-column: 2;
  width: 405px;
  height: 417px;
  display: grid;
  grid-template-rows: 100px;
  grid-auto-columns: 100px;
  border: solid;
  grid-gap: 0;
  margin: auto;
  margin-top: 0;
  box-shadow: 5px 5px 5px black;
  position: relative;
}
/* input:focus {
  color: white;
} */
* {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

#across1L1Input,
#across2L1Input,
#across3L1Input,
#across4L1Input {
  grid-column: 1;
}

#across1L2Input {
  grid-column: 2;
}

#across1L3Input {
  grid-column: 3;
}

#across1L4Input {
  grid-column: 4;
}

.correctColor {
  color: blue;
  background-color: lightblue;
}

.incorrectColor {
  color: red;
  background-color: white;
}
